<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Appointment</title>
</head>
<body>

    <a href="/logout">Logout</a>
    
        <H3>Welcome {{logged_user.first_name}}, to the BarberShop! Please select a day and time for your appointment below:</H3>
       
        {% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
        {% if messages %}<!-- check if there are any messages -->
            {% for message in messages %}<!-- loop through the messages -->
                <p>{{message}}</p><!-- display each message in a paragraph tag -->
        {% endfor %}
            {% endif %}
        {% endwith %}
       
        <form action="/create_appointment_process", method="post">
        <p></p>
        <div>
            <label>Date:</label>
            <input type="date" name="date">
        </div>
        <p></p>
        <div>
            <label>Time:</label>
            <input type="time" name="time">
        </div>
        <p></p>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>