<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Client Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/my_style.css') }}">
</head>

<body>
    <nav>
        <h3>Welcome to the BarberShop {{logged_user.first_name}}!</h3>
        <a class="logout" href='/appointments_table'>Appointments Table</a>
        <a class="logout" href="/logout">Logout</a>
    </nav>

    <h1 class="nav4">View client details:</h1>
    <div class="container">
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Cell Number</th>
            </thead>
            <td>{{this_user.first_name}}</td>
            <td>{{this_user.last_name}}</td>
            <td>{{this_user.email}}</td>
            <td>{{this_user.cell}}</td>
        </table>
    </div>
</body>

</html>