nav {
    display: flex;
    align-items: center;
    background-color: aqua;
}



.stocks_table {
    border: solid black 5px;
    border-collapse: collapse;
}

.logout {
    color: blue;
    font-weight: bold;
}

.appointment_details {
    color: blue;
    font-weight: bold;
    margin-right: 25px;
}

.nav_row_1 {
    margin-right: 85px;
}


table td + td { border-left:3px solid black; }

table th + th { border-left:3px solid black; }





tr:nth-child(even) {
    background-color: Lightgreen;
}

tr:nth-child(odd) {
    background-color: rgb(144, 218, 238);
}

th {
    background-color: lightgray;
}

